@font-face {
  font-family: Rubik;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/rubik/rubik-400.woff2) format(woff2);
}
@font-face {
  font-family: Rubik;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/rubik/rubik-700.woff2) format(woff2);
}
@font-face {
  font-family: Raleway;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/raleway/raleway-800.woff2) format(woff2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* page */
.page {
  height: 100%;

}


/* page-body */

.page-body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;

}

.content-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
}
.button {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  letter-spacing: 3.8px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

/* page-header */
.page-header {

  margin: 0 auto ;
  padding: 0 60px;
  color: #000000;
  background-color: #FFE17F;

}

.header-logo {
  display: block;
  width: 145px;
  height: 36px;
  margin-bottom: 30px;
}

/* page-main */

.page-main {
  flex-grow: 1;
}





.section-heading {
  margin: 0;
  margin-top: 47px;
  margin-bottom: 48px;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
}

/* form-search */

.form-search {
  width: 517px;
  display: flex;
}

.form-search-input {
  width: 359px;
  color: #000000;
  background-color: #FFE17F;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

}
.button-search {
  width: 160px;
  color: #000000;
  background-color: #FFE17F;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

}

/* user-menu */
.user-menu-login {
  width: 231px;
  margin: 0;
  padding: 0;
}

.user-menu {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  grid-column: 26px;

}


.user-menu-list {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-menu-active {
  column-gap: 48px;
  justify-content: end;
}

.user-menu-link {
  color: #000000;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;

}

/* main-menu */
.main-menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;

}

/* .main-menu-left {
  width: 293px;
  margin-right: auto;
} */

/* .main-menu-right {
  width: 471px;
  display: flex;
  justify-content: space-between;
} */
.main-menu-item:not(:last-child) {
  margin-right: 45px;
}

.main-menu-item:first-child {
  justify-self: left;
  margin-right: auto;
}
.main-menu-link {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

.dropdown-menu {
  justify-self: start;
  list-style-type: none;
}

.dropdown-menu-item
/* submenu */
.dropdown-menu-link {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

/* promo */
.promo {
  width: 1160px;
  margin: 0 auto;

}
.slider-promo-item {
  display: flex;
  justify-content: space-between;
}
.promo-img-wrapper {
  width: 560px;

}

.promo-content {
  width: 560px;
}
/* slider */

.slider-promo {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.promo-specification-list {
  display: flex;
}

.promo-specification-item {
  display: flex;
  flex-direction: column-reverse;
  margin-right: 40px;
}

.promo-specification-item:last-child {
  margin-right: 0;
}
.promo-specification-term {
  font-size: 16px;
  font-weight: 400;
}

.promo-specification-definition {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  color: #000000;
  font-size: 36px;
}


.slider-pagination {
  display: flex;
  width: 76px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* category */



.category-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  column-gap: 40px;
  justify-content: center;
  margin: 0;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 0;
  list-style-type: none;

}


.category-link {
  display: block;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.36px;
  text-decoration: none;
}

/* services */

.page-main-service {
  width: 1440px;
  margin: 0 auto;
}

.services {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 280px 694px;
  margin-bottom: 70px;
  padding: 0 140px

}


.service-control {
  display: grid;
  grid-template-rows: min-content;
  justify-content: start;
  width: 280px;
  row-gap: 35px;
  padding-top: 64px;
  padding-bottom: 64px;
}
.service-contol-button {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.service-contol-button:last-child {
  margin: 0;
}
.services-list {
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
  background-color:#F0F0F0;
  list-style: none;
}

.service-content-wrapper {
  padding-left: 116px;
  padding-top: 72.5px;
  padding-right: 63px;
  padding-bottom: 72.5px;


}

.service-title {
  margin: 0;
  margin-bottom: 34px;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.service-description {
  margin: 0;
}

.delivery-exclusive {
  display: flex;
  justify-content: center;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.delivery-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.delivery-description {
  width: 910px;
  margin: 0;
  padding:40px 125px;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #000000;
  background-color: var(--basic-light, #F0F0F0);
}


.wrapper-about-contacts {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.about {
  width: 520px;
margin-right: 108px;
}

.about-discription {
  width: 497px;
  margin: 0;
  margin-bottom: 30px;
}

.about-companies {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}
.companies-item {
  color: #000000;
  font-weight: 700;
}
.contacts-address {
  font-style: normal;
}

.contacts-discription {
  margin: 0;
  margin-bottom: 30px;
}
.contacts-item-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
}

.contacts-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.contacts-item {
  margin-bottom: 30px;
}
.contacts-item-description {
  margin: 0;
}
.contacts-phone {
  color: #444444;
}
.new {
  width: 1140px;
  margin: 0 auto;
  padding: 64px 141px 56px;
  background-color: #F0F0F0;
}

.new-content {
  display: flex;
  justify-self: center;
  margin-bottom: 144px;
}

.new-heading {
  width: 358px;
  margin: 0;
  margin-right: 273px;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.new-description {
  margin: 0;
}
.new-form-input {
  width: 557px;
  background-color: #F0F0F0;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
}

.new-form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.main-inner {
  width: 1440px;
  margin: 0 auto;
}
.main-inner-header {
  width: 1079px;
  padding: 35px 161px 35px 200px;



}

.inner-hedear-title {
  margin: 0;
  margin-bottom: 16px;
}
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

}

.breadcrumbs-item:not(last-child) {
  margin-right: 36px;
}

.breadcrumbs-link {
  display: block;
  color: #000000;
  font-size: 16px;
  text-decoration: none;
}

.catalog-product {
  display: grid;
  grid-template-columns: 320px 840px;
  box-sizing:border-box;
  width: 1440px;
  margin: 0;
  padding-left: 140px;
  padding-right: 140px;
  background-color: #F0F0F0;
}

.catalog-product-filter-header {
  display: flex;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
  min-height: 69px;
}
/* .catalog-wrapper-filter {
  width: 260px;
  padding-left: 60px;
  color: #000000;
  background-color: #F0F0F0;
} */

.catalog-product-heading {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-filter-group {
  margin-bottom: 35px;
}

.catalog-filter {
  width: 380px;
  grid-column: 1/2;
  grid-row: 2/3;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
}

.catalog-filter-legend {
  font-weight: 700;
}
.catalog-filter-label,
.catalog-filter-input {
  font-family: inherit;
  font-size: 15px;
  opacity: 0.3;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-wrapper-content {
  display: grid;
  grid-template-rows: min-content 1fr;
}

.catalog-wrapper-content-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.sort-type {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-type-link {
  display: block;
  text-decoration: none;
  color: #000000;
}

.sort-direction {
  display: flex;
  margin: 0;padding: 0;
  list-style: none;
}

.sort-direction-link {
  display: block;
  padding: 10px 9.5px;
  text-decoration: none;
  color: #000000;
  opacity: 0.2;
}

.sort-direction-item {
  width: 30px;
  height: 30px;

}

.product {
  display: grid;
  grid-template-rows: 1fr min-content;
  width: 840px;
  background-color: #ffffff;
  padding: 70px 40px 78px 40px;
}

.product-list {
  padding: 0;
  margin: 0;
  margin-bottom: 44px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 44px;
  list-style: none;

}


.product-card-link {
  width: 360px;
  color: #000000;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;

}
.product-card-price {
  font-weight: normal;
}
.button-large {
  width: 100%;
  margin-bottom: 44px;
  font-size: 16px;
  text-align: center;
}
.pagination {
  display: flex;
  justify-content: space-between;
  background-color: #EBEBEB;
}
.pagination-list {
  display: flex;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}


.pagination-link {
  display: block;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  color: #444444;
  font-size: 16px;
  opacity: 0.3;
  text-decoration: none;

}
/* page-footer */

.page-footer {
  width: 1440px;
  margin: 0 auto;
  background-color: #444444;
  color: #FFFFFF;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding-left: 141px;
  padding-right: 141px;
  padding-top: 62px;
  padding-bottom: 61px;

}

.page-footer-middle {
  display: flex;
  align-items: center;
  margin-bottom: 62px;
}
.page-footer-address {
  width: 239px;
  margin-right: auto;
  font-style: normal;
}
/* footer */


.footer-menu {
  display: flex;
  width: 450px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.footer-menu-item:not(:nth-child(3n)) {
  margin-right: 35px;
}

.footer-menu-link {
  font-family: Raleway, sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

.page-footer-phone {
  width: 200px;
  margin-left: auto;
  font-size: 16px;
  text-align: right;
  color: #FFFFFF;
}

.footer-social-list {
display: flex;
  width: 150px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-left: 645px;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  margin-bottom: 15px;
  margin-right: 15px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}
.footer-social-link {
  display: block;
  width: 40px;
  height: 40px;

}

.page-footer-bottom {
  display: flex;
}

.footer-copyraight {
  margin-left: auto;
}
.wrapper-user-menu {
  display: grid;
  grid-template-columns: 540px 500px ;
  align-items: center;
  margin-bottom: 30px;

}
.user-menu {
  display: grid;
  grid-template-columns: repeat(2, 250px);
}
.user-menu-list {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
}

.user-menu-login {
  column-gap: 28px;
  justify-content: end;
}

.user-menu-active {
  column-gap: 48px;
  justify-content: end;
}
