@font-face {
  font-family: Rubik;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/rubik/rubik-400.woff2) format(woff2);
}
@font-face {
  font-family: Rubik;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/rubik/rubik-700.woff2) format(woff2);
}
@font-face {
  font-family: Raleway;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/raleway/raleway-800.woff2) format(woff2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* page */
.page {
  height: 100%;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}


/* page-body */

.page-body {
  width: 1440px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;

}
.page-container {
  width: 1160px;
  margin: 0 auto;
}

.button {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

/* page-header */
.page-header {
  width: 1060px;
  margin: 0 auto ;
  padding: 0 60px;
  color: #000000;
  background-color: #FFE17F;

}


/* page-main */

.page-main {
  flex-grow: 1;
}


/* page-footer */

.page-footer {
  padding: 62px 140px 61px;
  background-color: #444444;
  color: #FFFFFF;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.page-footer-middle {
  display: flex;
}
.page-footer-address {
  width: 250px;
  margin-right: auto;
  font-style: normal;
}


.section-heading {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 50px;
}

/* form-search */

.form-search {
  width: 517px;
  display: flex;
}

.form-search-input {
  width: 359px;
  color: #000000;
  background-color: #FFE17F;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

}
.button-search {
  width: 160px;
  color: #000000;
  background-color: #FFE17F;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

}

/* user-menu */
.user-menu-login {
  width: 231px;
  margin: 0;
  padding: 0;
}

.user-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.user-menu-item:not(:last-child) {
  margin-right: 36px;
}


.user-menu-link {
  color: #000000;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;

}

/* site-menu */
.site-menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;

}

.site-menu-left {
  width: 293px;
  margin-right: auto;
}

.site-menu-right {
  width: 471px;
  display: flex;
  justify-content: space-between;
}
.site-menu-link {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

/* submenu */
.submenu-link {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

/* promo */
.promo {
  width: 1160px;
  margin: 0 auto;

}
.slider-promo-item {
  display: flex;
  justify-content: space-between;
}
.promo-img-wrapper {
  width: 560px;

}

.promo-content {
  width: 560px;
}
/* slider */

.slider-promo {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-promo-specification {

}
.slider-promo-specification-discription {
  padding: 0;
  color: #000000;
  font-size: 36px;
  text-align: left;
}
.slider-promo-specification-title {
  font-size: 16px;
  font-weight: 400;
}

.slider-pagination {
  display: flex;
  width: 76px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* category */

.category {
  width: 1160px;
  margin: 0 auto;
  padding: 70 0;
  margin-bottom: 70px;
}
.category-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.category-item {
  width: 160px;
}
.category-link {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

/* services */
.services {
  padding: 0 140px 72px;
}

.service-container {
  display: flex;
}

.service-control {
  display: flex;
  flex-direction: column;
  margin-right: 116px;
}
.service-contol-button {
  margin-bottom: 35px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.service-contol-button:last-child {
  margin: 0;
}
.services-list {
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
  background-color:#F0F0F0;
  list-style: none;
}
.order-shop {
  background-color: #F0F0F0;
  width: 1160px;
  display: flex;
  justify-content: space-between;
}

.wrapper-about-contacts {
  width: 1160px;
  margin: 70px auto;
  display: flex;
  margin-right: 108px;
}

.about {
  width: 520px;
margin-right: 108px;
}
.companies-item {
  color: #000000;
  font-weight: 700;
}
.contacts-address {
  font-style: normal;
}
.contacts-item-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
}
.contacts-phone {
  color: #444444;
}
.new {
  padding: 64px 141px 56px;
  background-color: #F0F0F0;
}

.new-content {
  display: flex;
  justify-self: center;
}

.new-heading {
  width: 358px;
  margin-right: 273px;
}
.new-form-input {
  width: 557px;
  background-color: #F0F0F0;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
}

.new-form-wrapper {
  display: flex;
  justify-content: space-between;
}


.main-inner {
  width: 1440px;
}
.main-inner-header {
  width: 1079px;
  margin-left: 200px;
  margin-right: 161px;
  padding: 0;


}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;

}

.breadcrumbs-link {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
}

.catalog-product {
  display: flex;
  padding-left: 140px;
  padding-right: 140px;
  background-color: #F0F0F0;
}


.catalog-wrapper-filter {
  width: 260px;
  padding-left: 60px;
  color: #000000;
  background-color: #F0F0F0;
}
.catalog-product-heading {
  font-family: Raleway, sans-serif ;
  font-size: 16px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  font-weight: 800;
  color: #000000;
}

.catalog-filter-legend {
  font-weight: 700;
}
.catalog-filter-label,
.catalog-filter-input {
  font-family: inherit;
  font-size: 15px;
  opacity: 0.3;
}

.catalog-wrapper-content {
  display: flex;
  flex-direction: column;
}

.catalog-wrapper-content-heading {
  padding: 0 40px;
}

.sort-type {
  list-style: none;
}

.sort-type-link {
  text-decoration: none;
  color: #000000;
}

.sort-direction {
  list-style: none;
}

.sort-direction-link {
  text-decoration: none;
  color: #000000;
  opacity: 0.2;
}

.product {
  background-color: #ffffff;
  padding: 70px 40px 0;
}

.product-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
}


.product-card-link {
  width: 360px;
  color: #000000;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;

}
.product-card-price {
  font-weight: normal;
}
.button-large {
  font-size: 16px;
  text-align: center;
}
.pagination {
  display: flex;
  flex-direction: column;
  background-color: #EBEBEB;
}
.pagination-list {
  list-style: none;
}

.button-large {
  width: 100%;

}
.pagination-link {
  color: #444444;
  font-size: 16px;
  opacity: 0.3;
  text-decoration: none;

}

/* footer */
.footer-menu-list {
  list-style: none;
}

.footer-menu-link {
  font-family: Raleway, sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

.page-footer-phone {
  width: 200px;
  margin-left: auto;
  font-size: 16px;
  color: #FFFFFF;
}

.page-footer-bottom {
  display: flex;
  justify-content: space-between;
}

.wrapper-user-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
